.moreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: 30px;

  background-color: orangered;
  color: #fafafa;

  margin-top: 15px;
  margin-left: 45%;
  margin-bottom: 20px;

  cursor: pointer;
  border: none;

  transition: transform 0.2 ease;

  & :hover {
    background-color: rgb(19, 47, 100);
  }
}
